.hero {
    position: relative;
    text-align: center;
    color: white;
    padding: 50px 0;
    overflow: hidden; 
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/bg.jpg") no-repeat center center/cover;
    opacity: 0.4; 
    z-index: -1; 
}
  

  
  // .hero:hover {
  //   background-color: #e0f0ff; 
  // }
  
  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #1a1a1a; 
    transition: color 0.3s ease; 
  }
  
  .hero p {
    font-size: 1rem;
    color: #333; 
  }
  
  .hero:hover h1 {
    color: #0056b3; 
  }
  
  .hero:hover p {
    color: #007bff; 
  }
  
  
  .hero a {
    color: #3498db;
    text-decoration: none;
  }
  
  .hero a:hover {
    text-decoration: underline;
  }

  .container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  
    &:hover {
      background-color: #007bff; /* Blue background */
      color: #ffffff; /* White text */
      i{
        color: #f4e9e9;
      }
    }
  
    h3 {
      margin-top: 10px;
      font-size: 1.2rem;
      font-weight: 600;
    }
  
    p {
      margin: 5px 0;
      font-size: 0.9rem;
    }
  
    i {
      font-size: 2rem; /* Icon size */
      margin-bottom: 10px;
      color: #007bff;
  
      /* Change icon color on hover */
      .card:hover & {
        color: #ffffff;
      }
    }
  }
  
  .cardLink {
    text-decoration: none;
    color: inherit;
  
    &:hover {
      color: #ffffff; /* Ensure link color changes on hover */
    }
  }
  

  .BGimage{
    background: url('/bg.jpg');
    background-size: cover; 
    background-position: center; 
    margin: 0; 
    overflow: hidden; 
    position: relative;
  
  }
  
  .hover-effect {
    transition: all 0.3s ease-in-out; // Smooth transition for hover effects
  
    &:hover {
      // background-color: #007bff; // Bootstrap primary color
      color: rgb(4, 1, 16); // Change text color on hover
      // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); // Add shadow
      transform: translateY(-4px); // Slightly lift the column
    }
  }