.BGimage{
  background: url('/bg.jpg');
  background-size: cover; 
  background-position: center; 
  margin: 0; 
  overflow: hidden; 
  height: 300px; 
  width: 100vw;
  position: relative;

}

.hover-effect {
  transition: all 0.3s ease-in-out; // Smooth transition for hover effects

  &:hover {
    // background-color: #007bff; // Bootstrap primary color
    color: rgb(4, 1, 16); // Change text color on hover
    // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); // Add shadow
    transform: translateY(-4px); // Slightly lift the column
  }
}