/* Right-Side Bullet Points */
.list-unstyled li {
  font-size: 1rem;
  line-height: 1.6;

  i {
    font-size: 1.2rem;
  }
}

/* Button Hover Effect */
.btn-hover {
  transition: all 0.3s ease;
  background-color: #007bff;
  border-color: #007bff;

  &:hover {
    background-color: #0056b3; /* Darker shade */
    border-color: #0056b3;
    transform: translateY(-3px); /* Slight upward movement */
    box-shadow: 0 5px 15px rgba(0, 123, 255, 0.3); /* Shadow effect */
  }
}

/* Badge Style for Left Section */
.experience-badge {
  position: absolute;
  top: 550px;
  left: 800px;
  transform: rotate(-90deg);
  padding: 9px 12px;
  font-size: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  z-index: 10;
}

.BGimage{
  background: url('/bg.jpg');
  background-size: cover; 
  background-position: center; 
  margin: 0; 
  overflow: hidden; 
  height: 300px; 
  width: 100vw;
  position: relative;

}




