.navbar {
  position: sticky;
  top: 0;
  z-index: 1030;
  background-color: #ffffff; // Default white background
  transition: all 0.3s ease-in-out;
  padding: 20px 25px; // Default padding

  &.navbarScrolled {
    padding: 15px 20px; // Smaller padding when scrolled
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Add shadow on scroll
  }
}

.navbar-brand {
  transition: transform 0.3s ease-in-out;
}

.navbar-scrolled .navbar-brand {
  transform: scale(0.9); // Shrink logo on scroll
}

.navbar-nav {
  margin: auto; // Keeps menu items centered
}

.navbar-toggler {
  border: none;
}

.hover-effect {
  transition: all 0.3s ease-in-out;

  &:hover {
    color: rgb(55, 8, 244); // Change text color on hover
    transform: translateY(-2px); // Slightly lift the link
  }
}
