

.hero {
  height: 100vh; /* Full viewport height */
  background-image: url('/bg.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  color: #ffffff; /* Default text color */
  padding: 0 15px;
}


.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}


.content {
  position: relative;
  z-index: 2; 
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 10px;
}


.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 15px;
}


.subtext {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 10px;
}


.description {
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 20px;
  color: #ffffff;
}


.buttons button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
}
