.aboutUs {
    padding: 50px 0;
    background-color: #f9f9f9;
  }
  
  .image {
    width: 100%;
    border-radius: 10px;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  